h1 {
    color: white;
    background-color: black;
}

span {
    color: cyan;
}

h2 {
    text-align: center;
    font-style: italic;
    background-color: indigo;
    color: white;
}

h3 {
    text-decoration: underline;
    text-align: right;
    background-color: skyblue;
}