* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

.user_box {
    padding: 20px;
    border: 3px solid black;
    border-radius: 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.like_button {
    background-color: goldenrod;
    padding: 8px;
    height: 30px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    box-shadow: 3px 3px black;
}